/* ESTILOS GENERALES */
.bg-orange {
  background-color: var(--orange);
}
.bg-purple {
  background-color: var(--purple);
}
.bg-teal {
  background-color: var(--teal);
}
.bg-cyan {
  background-color: var(--cyan);
}
body {
  min-height: 100vh;
}
.navbar-brand img {
  max-height: 60px;
}
main {
  min-height: 50vh;
}
@media screen and (min-width:768px) {
  .w-md-50 {
    width: 50%!important;
  }
  .w-md-75 {
    width: 75%!important;
  }
}

canvas {
  background-color: #daf0ee;
  border-radius: 0.5em;
}

